*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

.card-border{
    border: solid 10px white;
    border-radius: : 20px;
    overflow: hidden;
    transition: all ease-out 0.2;
}

.card-border:hover{
    transform: scale(1.05);
}

#apartado{
    background: rgb(255,255,255);
    background: url(../img/mixes1.png), linear-gradient(0deg, rgba(255, 255, 255,1) 0%, rgba(99,196,255,1) 57%);
    background-size: 75%;
    margin-top: -20px;
}

#separador{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separador .content{
    background: url(../img/fondo.png);
    width: 110%;
    height: 100px;
    margin-left: -5;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}